<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">  <!-- parallel="tests" -->
    <listeners>
        <listener class-name="testcomponents.Listeners"/>
    </listeners>
    <test thread-count="5" verbose="2" preserve-order="true" name="E2E Test">
        <classes>
            <class name="tests.SubmitOrderTest" />
        </classes>
    </test>
    <test thread-count="5" verbose="2" preserve-order="true" name="Login - error cases">
        <classes>
            <class name="tests.LoginErrorValidationTest" />
        </classes>
    </test>
</suite>